<section
  class="message <%= locals.class || '' %>"
  <%= typeof index !== 'undefined' ? `style="--index: ${index};"` : '' %>
>
  <p class="message-author"><%= message.author %></p>
  <p class="message-text"><%= message.message_text %></p>
  <p class="message-date"><%= message.created_at.toLocaleDateString() %></p>
</section>
